---
import Button from "../components/buttonSubs";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de.">
  <section class="m-8 text-zinc-200">
    <h1 class="text-5xl">Acerca de</h1>
    <p>Probando un poco de React en Astro</p>

    <Button client:load />
  </section>
</Layout>
